/* You can add global styles to this file, and also import other style files */

.bg-primary{
  background-color:#c29938 !important;
}
.text-primary{
  color:#c29938 !important;
}
.btn-primary{
  background-color:#c29938 !important;
  border-color:#c29938 !important ;
}
.btn-outline-primary{
  border-color:#c29938 !important ;
  color: #c29938 !important;
}
.btn-outline-primary:hover{
  background-color:#c29938 !important;
  color:whitesmoke !important ;
}
.color-button-accordion{
  background-color: rgba(230, 186, 96, 0.3) !important;
}

.bg-light{
  background-color:#fbf5e5 !important;
}
.btn-light{
  background-color:#fbf5e5 !important;
}
.bg-info{
  background-color:#e6ba60 !important;
}
